@font-face {
    font-family: "Calculator";
    src: url(../fonts/Calculator.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Calculator", sans-serif;
}

body {
    background-color: #82b4ff;
    background-image: url(../img/background_matrix.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #000000;
    height: 290px;
    width: 400px;
    border-radius: 40px;
    position: relative;
}

h1 {
    text-align: center;
    padding: 5px;
    font-size: 3.4em;
    color: #32DF4D;
    margin-top: 25px;
}

.display {
    font-size: 4em;
    color: #32DF4D;
    font-family: "Calculator";
    text-align: center;
    margin-top: 5px;
}

.btns {
    text-align: center;
    margin-top: 40px;
}



.btn {
    font-size: 1.5em;
    padding: 4px;
    margin: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #32DF4D ;
    color: #32DF4D;
    background-color: black;
    width: 60px;
    font-weight: bold;
}

.btn:hover {
    outline: 1px solid #32DF4D;
}

.error {
    color: #ff0000;
}